@import "./reset.css";

body {
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}

#current-time {
    font-size: 32px;
}

#current-time,
.create-alarm,
h1,
#active-alarm {
    text-align: center;
}

.create-alarm,
.alarm-inputs,
#active-alarm {
    margin-top: 20px;
}

input {
    width: 100px;
    height: 30px;
}

.alarm-inputs,
#alarm-text {
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    border-radius: 40px;
    width: 100px;
    background-color: #ffa500;
    cursor: pointer;
}

.button:hover {
    background-color: #8f620d;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#active-alarm {
    display: none;
}
